<header>
    <div class="container">
        <a routerLink="/" class="logo" >TC 😊 Food Corner!</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Priya</a>
                    <div class="menu">
                    <a routerLink="/Profile">Profile</a>
                    <a routerLink="/Order">Order</a>
                    <a routerLink="/Login">Logout</a>
                </div>
                </li>
                <li>
                   
                </li>
                
            </ul>
        </nav>
    </div>

</header>